body {
    font-family: Arial, sans-serif;
    background-color: cornflowerblue;
}
p {
    color: white;
    font-size: 20px;
}
h1 {
    color: white;
    font-size: 40px;
}
h2 {
    color: white;
    font-size: 30px;
}
ul {
    color: white;
    font-size: 20px;
}